.page-wrapper {
  background-color: #e9ecef;
  /* height: 100%; */
}
.error-box .error-title {
  font-size: 210px;
  font-weight: 900;
  text-shadow: 4px 4px 0 #fff, 6px 6px 0 #343a40;
  line-height: 210px;
  margin-top: 80px;
}
.textDanger {
  color: #f62d51!important;
}
.btnDanger {
  background: #f62d51!important;
}
.btnCircle {
  border-radius: 50%;
}
